body{
height:100%;

}

#seznam a{
	color:#a97c50;
	text-decoration: none;

}


/*Glavni Div za premik*/
#main {
margin: 0 auto 0 auto;
width:700px; 
}

/*Zgornji Meni*/
#seznam {
width:900px;
height:auto;
}

/*Div za jezik gumb*/
#drzava {
width: 960px;
height: 100px;
display:block;
margin-top:-30px;
}

/*ikona Slovenije*/
#ikona {
position:absolute;
margin-top:60px;
margin-left:620px;
height: 100px;
width:99px;
}


/*Jezik-text*/
#drzava p{
position:absolute;
margin:-50px 0px 0px 65px;
color:#a97c50;
font-family:Myriad Pro;
}


/*Logotip*/
#logo_g {
float:left;
margin: -40px auto 0px;
height: 100px;
width:99px;
}

/*Gumb Jezik*/
#jezik_g {
float:left;
height: 30px;
width:60px;
margin-left:590px;
margin-top:30px;
}

/*Gumb trgovina*/
#trgovina_g {
float:left;
margin: 0px auto 0px;
height: 50px;
width:160px;
}

/*Gumb trgovina_text*/
#trgovina_g p{
position:absolute;
margin:-75px 0px 0px 35px;
color:gray;
font-family:Myriad Pro;
font-size:36px;
}

/*Gumb novosti*/
#novosti_g {
float:left;
margin: 0px auto 0px;
height: 50px;
width:160px;
}

/*Gumb novosti-text*/
#novosti_g p{
position:absolute;
margin:-75px 0px 0px 45px;
color:#a97c50;
font-family:Myriad Pro;
font-size:36px;
text-decoration: none;


}


/*Gumb_galerija*/
#galerija_g {
float:left;
margin: 0px auto 0px;
height: 50px;
width:160px;
}

/*Gumb_galerija-text*/
#galerija_g p{
position:absolute;
margin:-75px 0px 0px 45px;
color:#a97c50;
font-family:Myriad Pro;
font-size:36px;

}


/*Gumb o nas*/
#onas_g {
float:left;
margin: 0px auto 0px;
height: 50px;
width:160px;
}

/*Gumb o nas-text*/
#onas_g p{
position:absolute;
margin:-75px 0px 0px 55px;
color:#a97c50;
font-family:Myriad Pro;
font-size:36px;

}
	
/*Nakup brez prijave-text*/
#center .p1{
position:absolute;
margin-top:160px;
margin-left:-10px;
color:black;
font-family:Myriad Pro;
font-weight:600;
font-size:30px;
}

/*Ime-text*/
#center .p2{
position:absolute;
margin-top:199px;
margin-left:-10px;
color:black;
font-family:Myriad Pro;
font-weight:600;
font-size:24px;
}

/*izbira box*/
#center .p2 .ime{
width:130px;
height:22px;
opacity:0.5;
margin-left:37px;

}


/*Priimek-text*/
#center .p3{
position:absolute;
margin-top:233px;
margin-left:-10px;
color:black;
font-family:Myriad Pro;
font-weight:600;
font-size:24px;
}
/*izbira box*/
#center .p3 .priimek{
width:155px;
height:22px;
opacity:0.5;
margin-left:23px;
}


/*naslov in številka-text*/
#center .p4{
position:absolute;
margin-top:266px;
margin-left:-25px;
color:black;
font-family:Myriad Pro;
font-weight:600;
font-size:24px;
}
/*izbira box*/
#center .p4 .naslov{
width:155px;
height:22px;
opacity:0.5;
margin-left:23px;
}

/*izbira box*/
#center .p4 .stevilo{
width:50px;
height:22px;
opacity:0.5;
margin-left:8px;
}

/*kraj-text*/
#center .p5{
position:absolute;
margin-top:297px;
margin-left:-10px;
color:black;
font-family:Myriad Pro;
font-weight:600;
font-size:24px;
}
/*izbira box*/
#center .p5 .kraj{
width:155px;
height:22px;
opacity:0.5;
margin-left:9px;
}


/*Št.Pošte-text*/
#center .p6{
position:absolute;
margin-top:332px;
margin-left:-10px;
color:black;
font-family:Myriad Pro;
font-weight:600;
font-size:24px;
}
/*izbira box*/
#center .p6 .st{
width:155px;
height:22px;
opacity:0.5;
margin-left:20px;
}

/*Prijava-text*/
#center .p7{
position:absolute;
margin-top:410px;
margin-left:-10px;
color:black;
font-family:Myriad Pro;
font-weight:600;
font-size:30px;
}

/*gumba za prijavo*/
#prijava{
	margin-top:520px;
	margin-left:130px;
	float:left;
	position:absolute;
}


/*E-Pošta-text*/
#center .p8{
position:absolute;
margin-top:445px;
margin-left:-10px;
color:black;
font-family:Myriad Pro;
font-weight:600;
font-size:24px;
}

/*izbira box*/
#center .p8 .mail{
width:184px;
height:22px;
opacity:0.5;
margin-left:40px;
}


/*Geslo:-text*/
#center .p9{
position:absolute;
margin-top:480px;
margin-left:-10px;
color:black;
font-family:Myriad Pro;
font-weight:600;
font-size:24px;
}

/*izbira box*/
#center .p9 .geslo{
width:184px;
height:22px;
opacity:0.5;
margin-left:58px;
}


/*naslov prijave-text*/
#center .p10{
position:absolute;
margin-top:600px;
margin-left:-10px;
color:black;
font-family:Myriad Pro;
font-weight:600;
font-size:30px;
}

/*nagovor-text*/
#center .p11{
position:absolute;
margin-top:660px;
margin-left:5px;
color:black;
font-family:Myriad Pro;
font-weight:600;
font-size:24px;
}

/*Logotip*/
#center .logotip{
margin-top:830px;
margin-left:-620px;
height: 100px;
width:99px;
position: absolute;
}

/*Prevzem-text*/
#center .p12{
position:absolute;
margin-top:200px;
margin-left:507px;
color:black;
font-family:Myriad Pro;
font-weight:600;
font-size:30px;
}

/*izbira prevzema-text*/
#center .p13{
position:absolute;
margin-top:240px;
margin-left:507px;
color:black;
font-family:Myriad Pro;
font-weight:600;
font-size:24px;
}

/*izbira radio*/
#center .p13 input{
width:22px;
height:22px;
opacity:0.5;
}
 
/*Način plačila-text*/
#center .p14{
position:absolute;
margin-top:300px;
margin-left:507px;
color:black;
font-family:Myriad Pro;
font-weight:600;
font-size:30px;
}

/*Način plačila izbira-text*/
#center .p15{
position:absolute;
margin-top:341px;
margin-left:507px;
color:black;
font-family:Myriad Pro;
font-weight:600;
font-size:24px;
}

/*izbira radio*/
#center .p15 input{
width:22px;
height:22px;
opacity:0.5;
}
/*izbira box*/
#center .p15 .msg{
width:50px;
height:22px;
opacity:0.5;

}

/*Registracija-text*/
#center .p16{
position:absolute;
margin-top:400px;
margin-left:406px;
color:black;
font-family:Myriad Pro;
font-weight:600;
font-size:30px;
}

/*gumba za registracijo*/
#register{
	margin-top:770px;
	margin-left:530px;
	float:left;
	position:absolute;
}


/*Registracija ime-text*/
#center .p17{
position:absolute;
margin-top:445px;
margin-left:406px;
color:black;
font-family:Myriad Pro;
font-weight:600;
font-size:24px;
}

/*izbira box*/
#center .p17 .ime{
width:182px;
height:22px;
opacity:0.5;
margin-left:54px;
}


/*Registracija Priimek-text*/
#center .p18{
position:absolute;
margin-top:477px;
margin-left:406px;
color:black;
font-family:Myriad Pro;
font-weight:600;
font-size:24px;
}
/*izbira box*/
#center .p18 .priimek{
width:182px;
height:22px;
opacity:0.5;
margin-left:15px;
}


/*Registracija Spol-text*/
#center .p19{
position:absolute;
margin-top:510px;
margin-left:406px;
color:black;
font-family:Myriad Pro;
font-weight:600;
font-size:24px;
}
/*izbira box*/
#center .p19 .spol{
width:182px;
height:22px;
opacity:0.5;
margin-left:56px;
}

/*Registracija Datum rojstva-text*/
#center .p20{
position:absolute;
margin-top:551px;
margin-left:406px;
color:black;
font-family:Myriad Pro;
font-weight:600;
font-size:24px;
}
/*izbira box*/
#center .p20 .dan{
width:28px;
height:22px;
opacity:0.5;
margin-left:28px;
}
/*izbira box*/
#center .p20 .mes{
width:30px;
height:22px;
opacity:0.5;
margin-left:10px;
}

/*izbira box*/
#center .p20 .leto{
width:73px;
height:22px;
opacity:0.5;
margin-left:8px;
}


/*Registracija telefon-text*/
#center .p21{
position:absolute;
margin-top:588px;
margin-left:406px;
color:black;
font-family:Myriad Pro;
font-weight:600;
font-size:24px;
}
/*izbira box*/
#center .p21 .tel{
width:182px;
height:22px;
opacity:0.5;
margin-left:56px;
}


/*Registracija Naslov-text*/
#center .p22{
position:absolute;
margin-top:628px;
margin-left:406px;
color:black;
font-family:Myriad Pro;
font-weight:600;
font-size:24px;
}
/*izbira box*/
#center .p22 .naslov{
width:182px;
height:22px;
opacity:0.5;
margin-left:23px;
}


/*Registracija Kraj-text*/
#center .p23{
position:absolute;
margin-top:662px;
margin-left:406px;
color:black;
font-family:Myriad Pro;
font-weight:600;
font-size:24px;
}
/*izbira box*/
#center .p23 .kraj{
width:182px;
height:22px;
opacity:0.5;
margin-left:53px;
}


/*Registracija poštna št.-text*/
#center .p24{
position:absolute;
margin-top:695px;
margin-left:406px;
color:black;
font-family:Myriad Pro;
font-weight:600;
font-size:24px;
}

/*izbira box*/
#center .p24 .stevilka{
width:168px;
height:22px;
opacity:0.5;
margin-left:6px;
}


/*Registracija e-pošta-text*/
#center .p25{
position:absolute;
margin-top:730px;
margin-left:406px;
color:black;
font-family:Myriad Pro;
font-weight:600;
font-size:24px;
}
/*izbira box*/
#center .p25 .mail{
width:182px;
height:22px;
opacity:0.5;
margin-left:16px;
}




/*medo za ozadje*/
#medo_ozadje{
	margin-top:20px;
	margin-left:-440px;
	position:absolute;
	z-index:-1;
}

/*potrdilo nakupa-text*/
#center .p26{
position:absolute;
margin-top:850px;
margin-left:450px;
color:black;
font-family:Myriad Pro;
font-weight:600;
font-size:24px;
}


/*gumba za potrdilo nakupa*/
#potrdi{
	margin-top:850px;
	margin-left:450px;
	float:left;
	position:absolute;
	z-index:1;

}




/*Noga Strani*/
#noga{
	height:180px;
	width:900px;
	margin-top:1150px;
	margin-right:170px;
	margin-left:-80px;
    overflow: hidden;
    position: relative;
    display: block;


}


/*CMS-text*/
#noga .p1{
position:absolute;
margin-top:100px;
margin-left:90px;
color:black;
font-family:Myriad Pro;
font-weight:600;
font-size:14px;
text-decoration: none;

}

/*Domov-text*/
#noga .p2{
position:absolute;
margin-top:100px;
margin-left:129px;
color:black;
font-family:Myriad Pro;
font-weight:600;
font-size:14px;
text-decoration: none;


}

/*Podjetje-text*/
#noga .p3{
position:absolute;
margin-top:100px;
margin-left:185px;
color:black;
font-family:Myriad Pro;
font-weight:600;
font-size:14px;
text-decoration: none;


}

/*Pogoji_poslovanja-text*/
#noga .p4{
position:absolute;
margin-top:100px;
margin-left:247px;
color:black;
font-family:Myriad Pro;
font-weight:600;
font-size:14px;
text-decoration: none;


}

/*Tedy-Tech-text*/
#noga .p5{
position:absolute;
margin-top:90px;
margin-left:400px;
color:black;
font-family:Myriad Pro;
font-weight:500;
font-size:24.15px;
text-decoration: none;

}

/*Tadej Horvat-text*/
#noga .p6{
position:absolute;
margin-top:115px;
margin-left:415px;
color:black;
font-family:Myriad Pro;
font-weight:500;
font-size:14px;
text-decoration: none;

}

/*Share-text*/
#noga .p7{
position:absolute;
margin-top:125px;
margin-left:707px;
color:black;
font-family:Myriad Pro;
font-weight:600;
font-size:14px;
text-decoration: none;
}

/*Share_2-text*/
#noga .p8{
position:absolute;
margin-top:125px;
margin-left:750px;
color:black;
font-family:Myriad Pro;
font-weight:600;
font-size:14px;
text-decoration: none;
}

